{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="text--center">
        <h1 class="g-unit">{{ status_code }} - Error</h1>
        <p>Sorry, an error occurred. This has been logged so we can fix it<br />
            Please try again</p>
    </div>
{% endblock %}