{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="text--center">
        <h1 class="g-unit">403 - Access denied</h1>
        <p>You do not have the required permissions to access this page</p>
    </div>
{% endblock %}